<div id="message"><em>Please turn up the volume, and drop the needle on the record.</em></div>
<div id="container">
<audio id="track_one_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/C.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_two_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/D.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_three_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/E.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_four_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/F.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_five_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/G.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_six_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/A.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="track_seven_audio" class="track_audio">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/B.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="needle_drop">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/NeedleDrop.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="coffee">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/Coffee.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="needle_up">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/NeedleUp.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="needle_back">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/NeedleBack.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<audio id="coffee_pour">
	<source src="https://s3.amazonaws.com/Pitchfork_portfolio/CoffeePour.mp3"></source>
	Your browser doesn't support audio. Try another one.
</audio>
<svg version="1.1" id="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="100%" enable-background="new 0 0 1280 720" xml:space="preserve">
<rect x="-1" fill="#353535" width="1280" height="722"/>
<rect x="578" y="581" fill="#8E8E8E" width="643" height="12"/>
<rect x="58.568" y="158.124" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -46.0316 39.3726)" fill="#FFF2E3" width="461.969" height="453.989"/>
<rect x="135.96" y="237.827" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -30.9721 45.6095)" fill="none" width="421.268" height="61.711"/>
<text transform="matrix(0.9921 -0.1255 0.1255 0.9921 136.1567 283.501)" font-family="'adobe-caslon-pro-italic'" font-style="italic" font-size="28.3743">by MICHAEL TODD</text>
<rect x="119.52" y="534.666" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -68.3456 45.8924)" fill="none" width="421.268" height="61.71"/>
<text transform="matrix(0.9921 -0.1255 0.1255 0.9921 119.7163 580.3398)" font-family="'ACaslonPro-Italic'" font-size="28.3743">send your thoughts:</text></a>
<rect x="138.659" y="196.399" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -25.0602 36.1245)" fill="none" width="271.2" height="41.229"/>
<text transform="matrix(0.9921 -0.1255 0.1255 0.9921 100.3179 238.6621)" fill="#00B69F" font-family="'museo-slab'" font-size="37.2412" font-style="bold" font-weight="800">“THE FULL MT”</text>
<rect x="122.423" y="569.692" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -71.7046 42.1135)" fill="none" width="352.11" height="41.228"/>
<a xlink:href="mailto:hello@michaelsedits.com">
<text transform="matrix(0.9921 -0.1255 0.1255 0.9921 123.0415 606.2793)" fill="#00B69F" font-family="'museo-slab'" font-size="21.2807" font-weight="600" id="email">hello@michaelsedits.com</text></a>
<rect x="102.353" y="285.775" transform="matrix(0.9921 -0.1255 0.1255 0.9921 -50.3915 42.7654)" fill="none" width="423.928" height="271.326"/>
<text transform="matrix(0.9921 -0.1255 0.1255 0.9921 89.2729 331.3604)"><tspan x="0" y="0" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_one track track_one_text track_text" font-weight="600">1. An Introduction</tspan><tspan x="0" y="31.921" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_two track track_two_text track_text" font-weight="600">2. Why I Need to Create </tspan><tspan x="0" y="63.842" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_three track track_three_text track_text" font-weight="600">3. How Design is Wonderful</tspan><tspan x="0" y="95.764" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_four track track_four_text track_text" font-weight="600">4. My Coding Philosophy </tspan><tspan x="0" y="127.685" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_five track track_five_text track_text" font-weight="600">5. Working with Me is Fun</tspan><tspan x="0.001" y="159.606" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_six track track_six_text track_text" font-weight="600">6. Music is Everything</tspan><tspan x="0.001" y="191.526" fill="#00B69F" font-family="'museo-slab'" font-size="26.6009" class="track_seven track track_seven_text track_text" font-weight="600">7. Why Pitchfork Needs Me</tspan></text>
<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="41.314" y1="263.231" x2="499.632" y2="205.271"/>
<line fill="none" stroke="#000000" stroke-miterlimit="10" x1="77.137" y1="546.491" x2="535.455" y2="488.531"/>
<rect x="578" y="145" fill="#CCCCCC" width="643" height="436"/>
<circle fill="#280900" cx="866.729" cy="361.147" r="227.042"/>
<circle class="track_one track track_one_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="204.432"/>
<circle class="track_two track track_two_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="186.698"/>
<circle class="track_three track track_three_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="169.407"/>
<circle class="track_four track track_four_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="151.756"/>
<circle class="track_five track track_five_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="134.175"/>
<circle class="track_six track track_six_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="117.302"/>
<circle class="track_seven track track_seven_record track_record" fill="none" stroke="#3A3A3A" stroke-width="11" stroke-miterlimit="10" cx="866.729" cy="361.147" r="100.114"/>
<circle class="coffee" id="coffee_cup" fill="#7c5d2c" stroke="#fff" stroke-width="11" stroke-miterlimit="10" cx="479.5" cy="117.5" r="68.5"/>
<rect fill="#fff" x="543" y="85" transform="matrix(0.976 -0.2176 0.2176 0.976 -7.3503 124.2495)" width="35" height="21"/>
<rect x="608" y="560" fill="#1E1E1E" width="62" height="6"/>
<img src="https://s3.amazonaws.com/Pitchfork_portfolio/RecordLabel.png" alt="Record label" id="record_label">
</image>
<div id="stop"></div>
</svg>
<div id="main_target">
<img src="https://s3.amazonaws.com/Pitchfork_portfolio/Arm.png" alt="Turntable arm" id="css_arm" class="arm">
<div id="needle"></div>
</div>
</div>