body {
  margin: 0px;
  background: #353535;
}

.label_playing {
  display: none;
}

.selected {
  color: #fff;
}

.coffee {
  cursor: pointer;
}

#stop {
  cursor: pointer;
  position: absolute;
  width: 62px;
  height: 30px;
  background: #3A3A3A;
  text-align: center;
  top: 530px;
  left: 608px;
}

#stop:active {
  position: absolute;
  top: 536px;
}

.track_one, .track_two, .track_three, .track_four, .track_five, .track_six, .track_seven {
  cursor: pointer;
}

.arm {
  width: 764px;
  height: 764px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg); 
  -ms-transform: rotate(0deg); 
  -o-transform: rotate(0deg);  
}

#main_target {
  position: relative;
  top: -165px;
  left: 770px;
  width: 764px;
  height: 764px;
}

#needle {
  cursor: pointer;
  width: 29px;
  height: 71px;
  z-index: 1;
  position: absolute;
  top: 651px;
  left: 368px; 
}

#record_label {
  width: 122px;
  position: absolute;
  left: 807px;
  top: 300px;
}

#svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

@-webkit-keyframes record_spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

.record_spin
{
    -webkit-animation-name:             record_spin; 
    -webkit-animation-duration:         2.7s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}